<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. Carnegie Mellon University
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>NCBO BioPortal Annotator</display-name>
	<!--
    <filter>
        <filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    -->
	<!--  Do not change anything below this point. -->
	
	<context-param>
		<param-name>servicesPath</param-name>
		<param-value>WEB-INF/serviceimpl</param-value>
	</context-param>

	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>jp.go.nict.langrid.servicecontainer.handler.axis.SGAxisServlet</servlet-class>
		<init-param>
			<param-name>wsddBeanNamespaceMappings</param-name>
			<param-value>
				jp.go.nict.langrid.service_1_2,http://langrid.nict.go.jp/ws_1_2/
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<!--
	<servlet>
		<servlet-name>ProtobufRpcServlet</servlet-name>
		<servlet-class>jp.go.nict.langrid.servicecontainer.handler.protobufrpc.servlet.ProtoBufRpcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProtobufRpcServlet</servlet-name>
		<url-pattern>/pbServices/*</url-pattern>
	</servlet-mapping>
	-->

	<servlet>
		<servlet-name>JsonRpcServlet</servlet-name>
		<servlet-class>jp.go.nict.langrid.servicecontainer.handler.jsonrpc.servlet.JsonRpcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsonRpcServlet</servlet-name>
		<url-pattern>/jsServices/*</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>